---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

.masthead {
  background-color: #045b06 !important;
}

.page-heading2 {
  height: 67px;
}

#mainNav.is-fixed {
  background-color: rgba(4,91,6,0.9);
}

#mainNav a, #mainNav.is-fixed .navbar-brand {
  color: #ffffff;
}
