---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

.masthead {
  background-color: #045b06 !important;
}

.page-heading2 {
  height: 67px;
}

#mainNav.slim {
  background-color: rgba(4,91,6,0.9);
}

#mainNav.slim .navbar-nav > li.nav-item > a, #mainNav.slim .navbar-brand {
  color: #FFFFFF;
}

#mainNav.slim .navbar-nav > li.nav-item > a:hover, #mainNav.slim .navbar-brand:hover {
  color: #F5F5F5;
  text-decoration: underline;
}
