---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

.masthead {
  background-color: #045b06 !important;
}

.page-heading2 {
  height: 67px;
}

#mainNav.slim {
  background-color: rgba(4,91,6,0.9);
}

#mainNavs.slim a {
  color: #FFFFFF;
}

#mainNav.slim a:hover {
  color: #F5F5F5;
  text-decoration: underline;
}
